<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о человеке</title>
</head>
<body>

<h1 th:text="${person.getFullName()}">value</h1>
<ul>
    <li th:text="'ID: ' + ${person.getPerson_id()}">user</li>
    <li th:text="'Год рождения: ' + ${person.getYearOfBorn()}">user</li>
</ul>

<br>
<h3>Взятые книги:</h3>
<p th:if="${person_books.isEmpty()}">Человек не взял ни одной книги!</p>
<div th:each="book : ${person_books}">
    <ul>
        <li th:text="'ID книги: ' + ${book.getBook_id()}">user</li>
        <li th:text="'Название книги: ' + ${book.getTitle()}">user</li>
        <li th:text="'Автор: ' + ${book.getAuthor()}">user</li>
        <li th:text="'Дата выпуска: ' + ${book.getReleaseDate()}">user</li>
    </ul>
</div>

<hr>
<br>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="На страницу людей"/>
</form>

<br>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPerson_id()})}">
    <input type="submit" value="Редактировать данные человека"/>
</form>

<br>
<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.getPerson_id()})}">
    <input type="submit" value="Удалить человека"/>
</form>

</body>
</html>