<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>БД книг</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getBook_id()})}" th:text="${book.getTitle()}">value</a>
    <ul>
        <li th:text="'ID: ' + ${book.getBook_id()}">user</li>
        <li th:text="'Автор: ' + ${book.getAuthor()}">user</li>
        <li th:text="'Дата выпуска: ' + ${book.getReleaseDate()}">user</li>
    </ul>

    <hr>
</div>

<form th:method="GET" th:action="@{/books/new}">
    <input type="submit" value="Добавить книгу"/>
</form>

<br>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="На страницу людей"/>
</form>

<br>
<form th:method="GET" th:action="@{/}">
    <input type="submit" value="На главное меню"/>
</form>

</body>
</html>